@model Tweetimental.ViewModels.IndexViewModel


@{
    ViewBag.Title = "Home Page";
}



@if (!string.IsNullOrEmpty(Model.Message))
{
    <p>@Model.Message</p>
}

@if (Model.Statuses != null)
{
    <p><strong>@Model.Handle</strong> posted <strong>@Model.Statuses.Count</strong> tweets with an overall sentiment of <strong>@Model.Score</strong> in the past <strong>@Model.Days</strong> days</p>

    foreach (var status in Model.Statuses)
    {
        <p>@status.CreatedAt @status.Text</p>
    }
}

